/*
 *
 * BEM is being used. See http://getbem.com/introduction/.
 *
 * -- Color Palette --
 *      #9DC8C8
 *      #58C9B9
 *      #519D9E
 *      #D1B6E1
 *
 */

 .board,
 .board .row .cell {
   box-sizing: border-box;
   white-space: nowrap;
 }

 .board,
 .board .row,
 .board .row .cell {
   white-space: nowrap;
 }

 .board .row .cell,
 .title,
 .won {
   text-align: center;
 }

 body,
 html {
   font-family: Roboto;
   margin: 0;
   color: #333;
 }

 .board .row .cell,
 .button {
   cursor: pointer;
   color: #fff;
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
 }

 body {
   overflow: hidden;
 }

 .title {
   font-size: 36px;
   margin: 20px 0 40px;
   font-weight: 300;
 }

 .board {
   margin: 0 auto;
   box-shadow: 0 0 10px rgba(0,0,0,.12);
   width: 660px;
   -webkit-animation-duration: .3s;
   animation-duration: .3s;
   display: none;
   z-index: 2;
 }

 .board .row {
   height: 220px;
   width: 660px;
 }

 .board .row:not(:last-child) {
   border-bottom: 1px solid #519D9E;
 }

 .board-mobile {
   position: absolute;
   margin: 0;
   bottom: 0;
   left: 0;
   border-radius: none;
 }

 .form,
 .won {
   margin-top: 35vh;
 }

 .board-mobile-height {
   left: 50%!important;
 }

 .board .row .cell {
   height: 220px;
   width: 220px;
   display: inline-block;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: #58C9B9;
   line-height: 220px;
   font-size: 84px;
   font-weight: 200;
   opacity: 1;
 }

 .button,
 .won {
   font-weight: 300;
 }

 .board .row:nth-child(1) .cell:nth-child(1) {
   border-top-left-radius: 6px;
 }

 .board .row:nth-child(1) .cell:nth-child(3) {
   border-top-right-radius: 6px;
 }

 .board .row:nth-child(3) .cell:nth-child(1) {
   border-bottom-left-radius: 6px;
 }

 .board .row:nth-child(3) .cell:nth-child(3) {
   border-bottom-right-radius: 6px;
 }

 .board .row .cell:not(:first-child) {
   border-left: 1px solid #519D9E;
 }

 .board .row .cell:hover {
   background-color: #519D9E;
 }

 .won {
   display: none;
   -webkit-animation-duration: .2s cubic-bezier(0,0,.25,.99);
   animation-duration: .2s cubic-bezier(0,0,.25,.99);
 }

 .credit,
 .form {
   text-align: center;
   -webkit-animation-duration: .2s;
   animation-duration: .2s;
 }

 .won--message {
   font-size: 28px;
   margin-bottom: 25px;
 }

 .button {
   padding: 20px 40px;
   letter-spacing: 1px;
   text-transform: uppercase;
   border-radius: 40px;
   background-color: #D1B6E1;
   display: inline-block;
   font-size: 26px;
   box-shadow: 0 2px 10px rgba(0,0,0,.12);
 }

 .button:focus,
 .button:hover {
   background-color: #B1A6E1;
 }

 .form {
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
 }

 .form .form--title {
   font-size: 28px;
   margin-bottom: 20px;
 }

 .form .button {
   margin: 10px 0;
 }

 .credit {
   position: fixed;
   bottom: 15px;
   width: 100%;
   font-size: 18px;
   z-index: -1;
 }

 .credit .credit--link {
   color: #2196f3;
   font-weight: 700;
   text-decoration: none;
 }

 .credit .credit--owner,
 .credit .credit--owner .credit--link {
   margin-top: 5px;
   font-size: 12px;
 }

 .first-select,
 .tie-message {
   display: none;
 }

 @-webkit-keyframes blinker {
   50% {
     opacity: .5;
   }
 }

 @keyframes blinker {
   50% {
     opacity: .5;
   }
 }

 @media (max-width:660px) {
   .board .row .cell {
     border-radius: 0!important;
   }
 }

 @media (max-height:660px) {
   .mode {
     margin-top: 0;
   }
 }

 @media (max-height:440px) {
   .mode {
     margin-top: 0;
     -webkit-transform: scale(.5);
     transform: scale(.5);
   }
 }

 @media (max-height:340px) {
   .mode {
     margin-top: -80px;
     -webkit-transform: scale(.5);
     transform: scale(.5);
   }
 }
